:root {
  --header-h: 64px;
  --container-w: 1500px; /* max readable width */
  --step: 140ms;
}

/* Reset & base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
html {
  font-size: clamp(16px, 1.5vw, 18px);
  scroll-behavior: smooth;
}

body {
  background-color: rgb(20, 20, 20);
  color: white;
}

/* Content container for sections */
.container {
  width: 100%;
  margin: 0 auto;
  padding-inline: 100px;
}

/* Sticky header */
.site-header {
  position: sticky;
  top: 0;
  inset-inline: 0;
  /* Places above other content, higher = more priority */
  z-index: 1000;
  height: var(--header-h);
  background: rgb(29, 29, 29);
  /* border-bottom: 1px solid #e5e7eb; */
  display: flex;
  align-items: center;
  padding-inline: 0;
}

/* Nav bar content aligned & centered within a container width */
.navbar {
  /* Pick the smaller of two values */
  /* width: min(var(--container-w), 92%); */
  width: 90%;
  /* horizontal and vertical */
  margin: 0 auto;
  display: flex;
  /* Vertically centers the flex items along the navbar's height */
  align-items: center;
  /* Left and right child spaced as far as possible */
  justify-content: space-between;
  /* Horizontal padding */
  padding-inline: 0;
}
.tag {
  font-size: clamp(1rem, 1.25vw, 3rem);
}
.nav-links {
  /* Removes bulelt points */
  list-style: none;
  display: flex;
  /* Space between each link */
  gap: 1.8rem;
}

.nav-links a {
  display: block;
  font-size: clamp(0.6rem, 1.25vw, 3rem);
  line-height: 1;
  text-decoration: none;
  padding: 0.5rem 0.75rem;
  border-bottom: 2px solid transparent;
  color: white;
}

/* Stable states (no layout shift) */
.nav-links a:hover {
  border-bottom-color: white;
}

.nav-links a:visited {
  color: white;
}
.nav-links a:active {
  color: #6b21a8;
}

/* Page sections (no scroll-snap; normal page scroll) */
section {
  /* 72 Padding top and bottom */
  padding: 50px 0;
  /* Prevents sticky heaader from blocking content */
  scroll-margin-top: var(--header-h); /* anchor offset under sticky header */
}

/* Fluid typography */
/* h1.role-header { */
/* font-size: clamp(2rem, 6vw, 4rem);
  line-height: 1.15;
}
.paragraph {
  font-size: clamp(1rem, 2.2vw, 1.125rem);
  max-width: 60ch;
} */

/* Home CSS */
.home-container {
  display: grid;
  /* margin-top: 200px; */
  margin: 150px auto 0;
  grid-template-columns: 3fr 1fr;
  gap: 40px;
  /* width: 1400px; */
  /* font-size: clamp(1rem, 5vw, 4rem); */
  /* justify-content: center; */
  align-items: center;
  margin-bottom: 300px;
  /* padding-inline: clamp(16px, 6vw, 100px); */
}



.hero-title{
  display: inline-grid;
  grid-template-columns: max-content max-content;
  column-gap: 25px;
  row-gap: .1em;
  line-height: 1.05;
  font-size: clamp(2rem, 7vw, 5rem);
  margin: 0;
  grid-column: 1/-1;
}

.hero-title .role-header1 { grid-column: 1 / 2;
grid-row: 1 }
.hero-title .role-header2 { grid-column: 2 / 3; 
grid-row: 1}
/* bottom word spans both columns */
.hero-title .role-header3 { grid-column: 1 / -1; }

.hero-title span{
  display: inline-block;              
  will-change: clip-path,transform, opacity;
  /* font-size: clamp(.05rem, 7vw, 5rem); */
}


hero-title.reveal {
  overflow: visible;
}

.reveal-init .hero-title span{
  opacity: 0;
  transform: translateY(18px);
  transition: 
    opacity .9s ease,
    transform .9s cubic-bezier(.22,.61,.36,1);
  /* stagger: base delay + i * step */
  transition-delay: calc(var(--i, 0) * 140ms);
}


.hero-title.is-visible span{
  opacity: 1;
  transform: translateY(0);

}


.paragraph {
  grid-column: 1/3;
  grid-row: 3;
  /* font-size: 24px; */
  color: rgb(153, 153, 153);
  line-height: 50px;
  font-size: clamp(1rem, 1.5vw, 3rem);
  max-width: 60ch;
}

/* Projects */

.projects {
  /* border-top: 1px solid rgb(255, 255, 255); */
  /* width: 1400px; */
  margin: 0 auto;
  padding: 10px;
  margin-bottom: 400px;
}

.projects-container {
  margin: 10px auto;
}

.projects-list {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style: none;
  gap: 20px;
  /* background-color: #222; */
}

.projects-list a {
  display: block;
  aspect-ratio: 4 / 3;
  /* padding: 1rem; */
  /* border: 1px solid #e5e7eb; */
  /* Messes with the corners of the border */
  /* border-radius: 0; */
  margin-bottom: 10px;
}

.projects-list img {
  display: block; /* remove inline gap */
  width: 100%;
  height: 100%;

  object-position: center;
}

.project-header {
  display: flex;
  justify-content: space-between;
}

/* Skills */

.skills {
  /* border-top: 1px solid rgb(255, 255, 255); */
  /* width: 1400px; */
  margin: 0 auto 6rem;
  /* margin-bottom: 400px; */
  padding: 1rem 20px;
}

.skills-container {
  margin: 10px auto;
}

.skills-header {
  display: block;
  text-align: center;
  font-size: 40px;
  margin-bottom: 20;
}

.skills-paragraph {
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  color: rgb(153, 153, 153);
  font-size: clamp(1rem, 1.25vw, 3rem);
  line-height: 35px;
  /* margin-left: auto;
  margin-right: auto; */
}

.skills-list-header {
  margin-top: 60px;
}

.skills-list {
  margin-top: 40px;
  display: grid;
   /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
   
  grid-template-columns: repeat(5, minmax(0, 1fr));
  list-style: none;
  gap: 16px;
}
/* @media is a css rule that only applies if conditions are true/ Evaluates the viewport by default. */
/* Only apply when viewport width is less than or equal to 700 */
@media (max-width: 900px){
  .skills-list{
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (max-width: 700px){
  .skills-list{
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.skills-list a {
  display: grid;
  grid-template-rows: 1fr auto;
  aspect-ratio: auto;
  /* aspect-ratio: 1/1; */
  /* padding: 1rem; */
  /* border: 1px solid #e5e7eb; */
  /* Messes with the corners of the border */
  border-radius: 0;
  margin-bottom: 10px;
  background-color: rgb(29, 29, 29);
  padding: 16px;
  /* box-shadow: 10px 10px rgb(41, 41, 41); */
  /* height: 240px; */
  /* width: 240px; */

}

.skills-list img {
  display: block;
   /* width: clamp(24px, 40vw, 120px); height: auto; */
   
  height: 60%;
  width: 60%;
  object-fit: contain;
  justify-self: center;
  margin-top: 40px;
  /* margin-top: 30px; */
}

.skills-title {
  text-align: center;
  margin-top: 25px;
  /* font-size: clamp(10px, 3vw, 16px);  */
}

/* .github {
  height: 90%;
  width: 90%;
} */

/* Contacts */

.contacts {
  border-top: 1px solid black;
  /* width: 1400px; */
  margin: 0 auto;
  margin-bottom: 400px;
  padding: 10px;
}

.contacts-container {
  margin: 10px auto;
}

/* Footer */
.site-footer {
  /* border-top: 1px solid rgb(255, 255, 255); */
  /* width: 1400px; */
  margin: 0 auto;
  padding: 20px;
  margin-bottom: 40px;
  text-align: center;
}
.footer-text {
  /* color: rgb(153, 153, 153); */
  font-size: clamp(1rem, 3vw, 3rem);
}

.social-links {
  list-style: none;
  display: grid;
  width: 200px;
  height: 100px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px;

  /* justify-content: center; */
  gap: 10px;
  /* margin-top: px; */
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 20px;
}

.social-links a {
  text-decoration: none;
  color: white;
  aspect-ratio: 1/1;
}

.social-links img {
  text-decoration: none;
  height: 100%;
  width: auto;
}

.email-button {
  background-color: rgb(20, 20, 20);
  color: white;
  border: 1px solid white;
  border-radius: 150px;
  padding: 12px 24px;
  font-size: clamp(1rem, 1.5vw, 2rem);
  cursor: pointer;
  text-decoration: none;
}

/* Animation */
/* We only hide initially if JS runs.
   reveal.js will add .reveal-init to <html> at startup. */
/* Animate transform/opacity; smooth easing */
.reveal {
  /* Cubic-Bezier higher y1 is more progress early snappier, lower x2 eases out earlier soft landing. x1, y1, x2, y2
  linear → cubic-bezier(0, 0, 1, 1)

ease → cubic-bezier(0.25, 0.1, 0.25, 1)

ease-in → cubic-bezier(0.42, 0, 1, 1)

ease-out → cubic-bezier(0, 0, 0.58, 1)

ease-in-out → cubic-bezier(0.42, 0, 0.58, 1)*/
  transition: opacity 3s ease, transform 2s cubic-bezier(0.2, 0.7, 0.25, 1);

  /* clips anything that extends outside the element's box */
  overflow: hidden; /
}

/* Hidden offset state only when JS is running */
.reveal-init .reveal {
  /* starts element as invisbile */
  opacity: 0;
  /* Changes the offset of the slide, basically how far it'll slide */
  transform: translateY(150px);
  /* delays elements left to right. calcs the multiplcation, if --i does not exist then use fallback value 0*/
  transition-delay: calc(var(--i, 0) * 90ms);
}

/* Target state */
/* Final state, full view and transform to original position */
.reveal.is-visible {
  opacity: 1;
  transform: translateY(0);
}


/* Line Growth Animation */
/* The element you want a growing border on (card, image wrapper, link, etc.) */

.grow-line {
   height: 2px; /* line thickness */ 
   background: #fff; /* line color */ 
   transform-origin: left center; 
   transition: transform 2.5s cubic-bezier(.22,.61,.36,1); } 

/* start collapsed (JS adds .reveal-init on <html>) */ .reveal-init .grow-line { 
  transform: scaleX(0); 
} 

/* when observed, expand left → right */ 
.grow-line.is-visible{ 
  transform: scaleX(1); 
}

/* Appear */
.fade-in {
  /* opacity: 0; */
 
  transition: opacity 2s cubic-bezier(0.2, 0.7, 0.25, 1);

  /* clips anything that extends outside the element's box */
  /* overflow: hidden; / */
}

/* Hidden offset state only when JS is running */
.reveal-init .fade-in {
  /* starts element as invisbile */
  opacity: 0;
  transform: scaleX(0); 
  transform: scaleY(0); 
   transition-delay: 1s;

  
}

/* Target state */
/* Final state, full view and transform to original position */
.fade-in.is-visible {
  opacity: 1;
  transform: translateY(0);

  /* transform: translateY(0); */
}

.zoom{
  display:block;
  position:relative;
  overflow:hidden;            
}

.zoom img{
  display:block;
  width:100%;
  height:100%;
  object-fit:cover;
  transform: scale(1);         
  transition: transform .6s cubic-bezier(.22,.61,.36,1);
  will-change: transform;
}

/* Zoom on hover and keyboard focus */
.zoom:hover img{
  transform: scale(1.08);    }

.skills-list a{
  /* display: inline-block;               */
  will-change: clip-path,transform, opacity;
  /* font-size: clamp(.05rem, 7vw, 5rem); */
}

.skills-list.reveal {
  overflow: visible;
}

.reveal-init .skills-list a{
  opacity: 0;
  transform: translateY(18px);
  transition: 
    opacity .9s ease,
    transform .9s cubic-bezier(.22,.61,.36,1);
  /* stagger: base delay + i * step */
  transition-delay: calc(var(--i, 0) * 140ms);
}


.skills-list.is-visible a{
  opacity: 1;
  transform: translateY(0);

}